#allData h1{
  display: inline-block;
  padding-left: 20px;
}
#allData label{
  display: inline-block;
}
#allData .inputContainerMy {
  padding-bottom: 40px;
}
#allData input[type="number"]{
  width: 100px;
}
#allData button {
  background-color: #00cb7d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 25px;
}
#allData button:hover {
  background-color: #008b56;
}
#allData button:active {
  position: relative;
  top: 1px;
}
#greenContent {
  position: relative;
  padding-bottom: 100px;
}
#allData table {
  font-family: "Lucida Console", Monaco, monospace;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
#allData table.greenContent {
  background-color: #00cb7d;
}
#allData table.redContent {
  background-color: #f4565b;
}
#allData table td,
#allData table th {
  border: 3px solid #010101;
  padding: 10px 10px;
}

#allData table tbody td {
  width: 80px;
  font-size: 18px;
  color: #010101;
}
#allData table.greenContent td:nth-child(even) {
  background: #00e98f;
}
#allData table.redContent td:nth-child(even) {
  background: #ff8377;
}
#allData table th {
  font-size: 20px;
  font-weight: bold;
  color: #010101;
  text-align: center;
}
#allData table.greenContent th {
  background: #00cb7d;
}
#allData table.redContent th {
  background: #f4565b;
}
@media print {
  #allData  table {
    page-break-inside: avoid;
    margin-top: 20px;
  }
  #allData h1 {
    display: block;
    margin-left: -25px;
  }
  #allData table tbody td {
    width: auto;
    font-size: 16px;
    color: #010101;
  }
}
#allData tr.clear td{
  background: #ffffff;

}
#allData .clear{
  font-size: 14px;
}
#allData tr.clear td:nth-child(even) {
   background: #ffffff;
 }