h1 {
  display: inline-block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  padding-right: 5px;
  text-transform: uppercase;
  padding-left: 30px;
}
select {
  display: inline-block;
  padding: 16px;

  width: 150px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #000000;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 18px;
  }
}

label {
  position: relative;
}
label:after {
  content: "<>";
  font: 11px "Consolas", monospace;
  color: #000000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 2px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: "";
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block;
}
.inputContainer {
  padding-bottom: 40px;
}
input[type="number"] {
  font: 20px "Muli", sans-serif;
  color: #333;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.button {
  background-color: #00cb7d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 25px;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.button:hover {
  background-color: #008b56;
}
.button:active {
  position: relative;
  top: 1px;
}
#greenContent {
  position: relative;
  padding-bottom: 100px;
}
table {
  font-family: "Lucida Console", Monaco, monospace;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greenContent {
  background-color: #00cb7d;
}
table.redContent {
  background-color: #f4565b;
}
table td,
table th {
  border: 3px solid #010101;
  padding: 10px 10px;
}

table tbody td {
  width: 80px;
  font-size: 18px;
  color: #010101;
}
table.greenContent td:nth-child(even) {
  background: #00e98f;
}
table.redContent td:nth-child(even) {
  background: #ff8377;
}
table th {
  font-size: 20px;
  font-weight: bold;
  color: #010101;
  text-align: center;
}
table.greenContent th {
  background: #00cb7d;
}
table.redContent th {
  background: #f4565b;
}
@media print {
  table {
    page-break-inside: avoid;
    margin-top: 20px;
  }
  h1 {
    display: block;
    margin-left: -25px;
  }
  table tbody td {
    width: auto;
    font-size: 16px;
    color: #010101;
  }
}
tr.clear td{
  background: #ffffff;
  font-size: 12px;
}
tr.clear td:nth-child(even) {
   background: #ffffff;
  font-size: 12px;
 }